/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-hit-down:before {
  content: '\ea05';
}

.nc-icon.nc-apple:before {
  content: '\ea06';
}

.nc-icon.nc-windows:before {
  content: '\ea07';
}

.nc-icon.nc-linux:before {
  content: '\ea08';
}

.nc-icon.nc-window-dev:before {
  content: '\ea09';
}
