<%# Opened in header.ejs %>
      </main>

      <footer class="Footer">
        <div class="Footer-about Footer-section">
          <a class="Footer-about-logo" href="https://mycrypto.com/">
            <img class="Footer-about-logo-img" src="./assets/images/logo-mycrypto.svg" alt="MyCrypto logo">
          </a>
          <div class="Footer-about-links">
            <a href="https://mycrypto.com">MyCrypto.com</a>
            <a target="_blank" rel="noopener noreferrer" href="https://support.mycrypto.com">
              Help & Support
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://about.mycrypto.com">
              Our Team
            </a>
          </div>
          <p class="Footer-about-text">
            MyCrypto is an open-source, client-side tool for generating ether
            wallets, handling ERC-20 tokens, and interacting with the blockchain more
            easily. Developed by and for the community since 2015, we’re focused on
            building awesome products that put the power in people’s&nbsp;hands.
          </p>

          <div class="Footer-about-copyright">
            © <%- new Date().getFullYear() %> MyCrypto, Inc.
          </div>
      </footer>
    </div>
  </body>
</html>
