$font-family-monospace: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;


$font-size-xl         : 2.625rem; // 42px

$font-size-lg         : 1.625rem; // 26px

$font-size-md         : 1.5rem;   // 24px

$font-size-bump       : 1.125rem; // 18ox

$font-size            : 1rem;     // 16px

$font-size-sm         : 0.9rem;   // 14.4px
