@import 'src/sass/mixins/index';
@import 'src/sass/variables/index';
@import 'src/sass/grid';

.App {
  display: block;
  &-background {
    background-color: $primary-color;
  }
  &-container {
    @extend .container;
  }
  &-row {
    @extend .row;
    padding-top: $space-md;
    align-items: center;
    margin-bottom: -$space;
  }
  &-left {
    @extend .col-sm-5;
    padding-top: $space;
    padding-bottom: $space-md;
  }
  &-right {
    @extend .col-sm-7;
  }
  &-title {
    color: white;
    font-size: $font-size-xl;
    font-weight: 900;
    line-height: 1.3;
    margin: 0 0 0.25em;
  }
  &-description {
    color: white;
    font-size: $font-size-bump;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1.5em;
    margin-top: 0;
    max-width: 33rem;
  }
  &-screenshot {
    width: 100%;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.02), 0 12px 34px 0 rgba(180,180,180,0.23);
  }
  &-download {
    @include button(white, $gray-darkest);
    margin-bottom: 1.5em;
    &.nc-icon {
      vertical-align: text-bottom;
    }
  }
  &-linux-download {
    &-wrapper {
      display: flex;
      flex-wrap: nowrap;
    }
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transform: none;
    position: initial;
    margin-bottom: 0;
    &:first-child {
      margin-right: 1rem;
    }
  }
  &-other-links {
    > a {
      color: white;
      font-size: $font-size-sm;
      transition: text-decoration $transition ease;
      &:not(:last-child) {
        margin-right: $space;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.Platforms {
  background-color: $gray-lightest;
  width: 100%;
  &-container {
    @extend .container;
    padding-top: 2rem;
    padding-bottom: $space;
  }
  &-row {
    @extend .row;
  }
  &-column {
    @extend .col-12;
    @extend .col-sm-6;
    @extend .col-md-3;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
  }
  &-button {
    @include button(white, $gray-darkest);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    &:hover {
      box-shadow: 0 9px 30px 1px rgba(153, 170, 181, 0.2);
    }
    > .nc-icon {
      font-size: 1.4em;
      margin-left: 0;
      margin-right: 2rem;
    }
    &-content {
      line-height: 1;
      > a {
        color: $primary-color;
        margin-top: 0;
        font-size: 0.75rem;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
    &-title {
      margin: 0;
    }
  }
}

.Row {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: $space-md 0;
  width: 100%;
  &-container {
    @extend .container;
  }
  &-row {
    @extend .row;
  }
  &-img-wrapper {
    @extend .col-12;
    @extend .col-sm-6;
    padding-top: $space;
    padding-bottom: $space;
    align-self: center;
  }
  &-img {
    width: 100%;
    height: auto;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.02), 0 12px 34px 0 rgba(180,180,180,0.23);
  }
  &-content {
    @extend .col-12;
    @extend .col-sm-6;
    align-self: center;
    @media (min-width: 50rem) {
      padding: $space $space-lg;
    }
  }
  &-title {
    font-size: $font-size-xl;
    margin: 0 0 $space-sm 0;
  }
  &-description {
    margin: 0 0 $space 0;
  }
  &-subtext {
    font-size: $font-size-sm;
    font-style: italic;
    opacity: .9;
  }
  &-button {
    @include button(white, $gray-darkest);
  }
  &-button-linux {
    @include button(white, $gray-darkest);
    font-size: $font-size-sm;
    padding: 0.7em 1.5em;
    margin-bottom: .5rem;
    font-size: $font-size-sm;
    &:first-child {
      margin-right: .5rem;
    }
  }
  &-white {
    background-color: white;
    .Row-button {
      @include button($primary-color, white);
    }
    .Row-button-linux {
      @include button($primary-color, white);
      font-size: $font-size-sm;
      padding: 0.7em 1.5em;
      margin-bottom: .5rem;
      font-size: $font-size-sm;
      &:first-child {
        margin-right: .5rem;
      }
    }
  }
  &-navy {
    background-color: $blue-navy;
    color: white;
  }
  &-reverse &-row {
    flex-direction: row-reverse;
  }
}

.App-marketing {
  background-color: white;
  text-align: center;
  &-container {
    @extend .container;
  }
  &-row {
    @extend .row;
  }
  &-column {
    @extend .col-12;
    @extend .col-sm-4;
    display: flex;
  }
  &-box {
    background: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(50,50,50,0.03), 0 1px 1px 0 rgba(50,50,93,0.05), 0 1px 3px 0 rgba(50,50,93,0.10);
    border-radius: $border-radius;
    padding: $space-md;
    margin: -$space 0 $space-lg 0;
    &-img {
      margin: 0 0 1rem 0;
      height: 6rem;
      width: auto;
    }
    &-title {
      font-size: $font-size-lg;
      margin: 0 0 1rem 0;
    }
    &-description {
      margin: 0;
    }
  }
}

.Testimonial {
  background: $primary-color;
  color: white;
  text-align: center;
  &-container {
    @extend .container;
    padding-top: $space-md;
    padding-bottom: $space-lg;
  }
  &-title {
    font-size: $font-size-xl;
    margin: 0 0 0.25em;
  }
  &-content {
    margin: 0 0 1.5em;
    a {
      color: white;
      text-decoration: underline;
      transition: opacity 200ms ease;
      &:hover {
        opacity: .8;
        transition: opacity 200ms ease;
      }
      &:active {
        opacity: 1;
        transition: opacity 200ms ease;
      }
    }
  }
  &-quote {
    font-size: $font-size-md;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    max-width: 45rem;
    line-height: 1.8;
  }
}

.Upgrade {
  text-align: center;
  background: white;
  &-container {
    @extend .container;
    padding-top: $space-md;
    padding-bottom: $space;
  }
  &-img {
    margin-bottom: 0.75rem;
  }
  &-title {
    font-size: $font-size-xl;
    margin: 0 0 1rem;
  }
  &-button {
    @include button($primary-color, white);
    margin-bottom: $space-lg;
  }
  &-content {
    font-style: italic;
    color: $gray-dark;
    font-size: $font-size-sm;
    a {
      color: $primary-color;
      transition: 200ms color ease;
      &:hover {
        color: lighten($primary-color, 5%);
        transition: 200ms color ease;
      }
      &:active {
        color: lighten($primary-color, 10%);
        transition: 200ms color ease;
      }
    }
  }
}

.Footer {
  background-color: $blue-navy;
  color: white;
  text-align: center;
  border-top: 3px solid $primary-color;
  padding: 1rem;
  &-logo {
    display: block;
    margin: auto;
    background-image: url('../assets/imgs/logo-mycrypto.svg');
    width: 245px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 0.75rem;
  }
  &-links {
    margin-bottom: 0.75rem;
    > a {
      color: white;
      margin: 0 0.5rem;
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
  &-text {
    font-size: 0.75rem;
    font-weight: 300;
    max-width: 580px;
    margin: auto;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.75rem;
  }
  &-copyright {
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0;
  }
}
