@import 'src/sass/variables/index';

@mixin button-reset {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

@mixin button($bg-color) {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 3rem;
  border-radius: $button-border-radius;
  white-space: nowrap;
  color: white;
  background-color: $bg-color;
  .nc-icon {
    margin-left: 0.5rem;
  }
  transition: background-color $transition;
  &:hover:not([disabled]) {
    cursor: pointer;
    background-color: lighten($bg-color, 8%);
  }
  &:active {
    background-color: lighten($bg-color, 4%);
  }
}

@mixin flat-button {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 3rem;
  border-radius: $button-border-radius;
  white-space: nowrap;
  color: white;
  background-color: transparent;
  .nc-icon {
    margin-left: 0.5rem;
  }
  transition: background-color $transition;
  &:hover:not([disabled]) {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.035);
  }
}
