// Page layout
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  @include small-query {
    font-size: 85%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $body-bg;
  color: $text-color;
  line-height: 1.4;
}

.Layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  transition: color 100ms ease;
  cursor: pointer;

  &:hover {
    color: $link-color-hover;
  }
}

// Fonts
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Light.woff2') format('woff2'),
    url('./assets/fonts/Lato-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.woff2') format('woff2'),
    url('./assets/fonts/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
